.menu-btn {
    position: fixed;
    right: 70px;
    top: 20px;
    width: 20px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}
.menu-btn__burger {
    width: 20px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: all .5s ease-in-out;
    z-index: 999;
}
.menu-btn__burger::before, .menu-btn__burger::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before{
    transform: translateY(-7px);
}
.menu-btn__burger::after{
    transform: translateY(7px);
}
/* ANIMATION */
.menu-btnopen .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    position: fixed;
    right: 70px;
    top: 30px;
    
  }
.menu-btnopen .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btnopen .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}